<br>
<% @cocktails.each do |cocktail| %>
  <div class="card-product">
  <%= cl_image_tag("l8huvdrxmva4sw9eghi7",
      width: 400, height: 300, crop: :fill) %>
    <div class="card-product-infos">
      <ul>
        <p>🍸<%= cocktail.name %> <%= link_to 'Show', cocktail %></p>
      </ul>
    </div>
  </div>
  <br>
<% end %>

<%= link_to "New", new_cocktail_path %>
