<br>
<% @cocktails.each do |cocktail| %>
  <div class="card-product">
    <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill if cocktail.photo.present?%>
    <div class="card-product-infos">
      <ul>
        <p>🍸<%= cocktail.name %> <%= link_to 'Show', cocktail %></p>
      </ul>
    </div>
  </div>
  <br>
<% end %>

<%= link_to "New", new_cocktail_path %>
